.markedComplete {
    background-color: lightgray;
    text-decoration: line-through;
    font-style: italic;
}


body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#top {
    text-align: center;
    font-weight: bold;
}

#taskTable {
    padding-top: 40px;
}

#todoHead {
    color: tan;
}